# Example of a `.gitattributes` file which reclassifies `.rb` files as Java:
*.html linguist-language=Typescript

# Replace any whitespace in the language name with hyphens:
*.glyphs linguist-language=OpenStep-Property-List

# Language names are case-insensitive and may be specified using an alias.
# So, the following three lines are all functionally equivalent:
*.html linguist-language=ts
*.html linguist-language=TS
*.html linguist-language=TYPESCRIPT